<div class="container my-5">
  <div class="row">
    <div class="col-8 offset-1 mt-5">
      <h2><i class="fas fa-search mr-2"></i>検索結果一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mt-3 mx-auto">
    <% if @posts.exists? %>
      <%= render 'public/posts/index', posts: @posts %>
    <% else %>
      <p>検索結果が見つかりませんでした</p>
    <% end %>
    </div>
  </div>
</div>