<div class="container">
  <div class="row">
    <div class="col-8 mt-5 mx-auto">
      <h1>投稿詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table">
        <tbody>
          <tr>
            <th>タイトル</th>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <th>投稿内容</th>
            <td><%= @post.body %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集", edit_post_path(@post.id) %>

　　　<%= link_to "削除", @post, method: :delete,"data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>