<h1>ユーザー一覧</h1>

<% @members.each do |member| %>

  <p>名前</p>
  <span><%= link_to member.name, admin_member_path(member.id) %></span>
  <p>メールアドレス</p>
  <span><%= member.email %></span>
  <p>会員ステータス</p>
<% end %>