<%= flash[:alert] %>
  <div style="position: relative; display:inline-block;">
     <%= image_tag 'top.jpg',class: "img-fluid max-width: 100%; , height: auto;" %>
    <div class="cover-text text-center" style="position: absolute; top: 100px; left: 230px; max-width: 100%; max-height: 100%; padding: 30px; text-align; color:#fff;">
      <h1 class="display-3 pb-3">Welcome to COMGAME</h1>
      <h3>こちらは管理者画面です</h3>
     </div>
  </div>