<%= flash[:alert] %>
<div class="container">
  <div class="row">
    <div style="position: relative; display:inline-block;">
      <%= image_tag 'top.png',class: "img-fluid max-width: 100%; , height: auto;" %>
      <div class="col-12 cover-text text-center" style="position: absolute; top: 40%; color:#fff;">
        <h3>こちらは管理者画面です</h3>
      </div>
    </div>
  </div>
</div>