<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h2 class="text-center pt-5"><strong>プライバシーポリシー</strong></h2>
      <p class="pt-4">COMGAME（以下，「当サイト」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>

      <h3 class="pt-4"><strong>第1条（個人情報）</strong></h3>
      <p class="pt-2">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>

      <h3 class="pt-2"><strong>第2条（個人情報の収集方法）</strong></h3>
      <p class="pt-2">ユーザーが利用登録をする際に、メールアドレスをお尋ねすることがあります。</p>

      <h3 class="pt-2"><strong>第3条（個人情報を収集・利用する目的）</strong></h3>
      <p class="pt-2">当サイトが個人情報を収集・利用する目的は，以下のとおりです。</p>
      <p>1. 当サイトサービスの提供・運営のため</p>
      <p>2. 利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</p>
      <p>3. ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため。</p>
      <p>4. 上記の利用目的に付随する目的。</p>

      <h3 class="pt-2"><strong>第4条（個人情報の第三者提供）</strong></h3>
      <p class="pt-2">第三者に個人情報を提供することはありません。</p>

      <h3 class="pt-2"><strong>第5条（プライバシーポリシーの変更）</strong></h3>
      <p class="pt-2">1. 本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</p>
      <p>2. 当サイトが別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</p>

      <h3 class="pt-2"><strong>第6条（お問い合わせ窓口）</strong></h3>
      <p class="pt-2">本ポリシーに関するお問い合わせは，お問い合わせページよりお願いいたします。</p>
      <p></p>
    </div>
  </div>
</div>