<div class="container">
  <div class="row">
    <div class="col-4">
      <ul class="list-unstyled">
        <li>利用規約</li>
        <li>プライバシーポリシー</li>
        <li><a class="text-light text-decoration-none" href="https://forms.gle/jozZGe9YBUfp3NRe6">お問い合わせ</a></li>
      </ul>
    </div>
    <div class="col-8">
      <p>© 2023 COMGAME All Rights Reserved.</p>
    </div>
  </div>
</div>